:root {
  --light-purple: rgba(154, 103, 234, 1);
  --purple: rgba(103, 58, 183, 1);
  --dark-purple: rgba(54, 5, 104, 1);
  --primary: var(--dark-purple);
  --secondary: var(--light-purple);
  --gray: rgba(61, 61, 61, 0.8);
}

$border-radius: 4px;
$border-radius-round: 50%;

/******* Spacing *******/
$margin-sm: 10px;

.h-auto {
  height: auto;
}

.h-25px {
  min-height: 25px;
  height: 25px;
  max-height: 25px;
}

.h-50px {
  min-height: 50px;
  height: 50px;
  max-height: 50px;
}

.h-100px {
  min-height: 100px;
  height: 100px;
  max-height: 100px;
}

.h-full {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

.w-50px {
  min-width: 50px;
  width: 50px;
  max-width: 50px;
}

.w-25 {
  min-width: 25%;
  width: 25%;
  max-width: 25%;
}

.w-75 {
  min-width: 75%;
  width: 75%;
  max-width: 75%;
}

.w-full {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mgn-l-5 {
  margin-left: 5px;
}

.mgn-b-10 {
  margin-bottom: 10px;
}

.mgn-b-20 {
  margin-bottom: 20px;
}

.mgn-b-40 {
  margin-bottom: 40px;
}

.radius-sm {
  border-radius: 4px;
}

.radius-round {
  border-radius: 50%;
}

.font-sm {
  font-size: 0.8rem;
}

.font-md {
  font-size: 1.2rem;
}

.font-lg {
  font-size: 1.4rem;
}

.bg-primary {
  background-color: rgba(54, 5, 104, 1);
  background-color: var(--primary, rgba(54, 5, 104, 1));
}

.bg-secondary {
  background-color: rgba(154, 103, 234, 1);
  background-color: var(--secondary, rgba(154, 103, 234, 1));
}

.color-primary {
  color: rgba(54, 5, 104, 1);
  color: var(--primary, rgba(54, 5, 104, 1));
}

.color-secondary {
  color: rgba(154, 103, 234, 1);
  color: var(--primary, rgba(154, 103, 234, 1));
}

.color-gray {
  color: rgba(61, 61, 61, 0.8);
  color: var(--gray, rgba(61, 61, 61, 0.8));
}

.bold {
  font-weight: bold;
}

/**************************

App Styles

**************************/
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.wizard {
  width: 80%;
  height: auto;
  max-width: 450px;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0px 10px;
  padding: 30px 30px 0px 30px;
  border: 1px solid rgba(162, 136, 166, 0.26);
  border-bottom-color: rgba(162, 136, 166, 0.26);
  border-radius: 8px;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.3);
  background-color: #ffffff;
}

.steps {
  overflow-x: hidden;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
}

.step {
  padding: 0px 15px;
}

.indicators {
  margin: 25px 0px;
  justify-content: space-evenly;
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid rgba(54, 5, 104, 1);
  background-color: #ffffff;
  transition: background-color 0.4s ease;
}

.indicator.active {
  background-color: rgba(54, 5, 104, 1);
}
