:root {
  --light-purple: rgba(154, 103, 234, 1);
  --purple: rgba(103, 58, 183, 1);
  --dark-purple: rgba(54, 5, 104, 1);
  --red: red;
  --gray: rgba(61, 61, 61, 0.8);
  --white: rgba(255, 255, 255, 1);

  --primary: var(--dark-purple);
  --secondary: var(--light-purple);
  --teriary: var(--purple);
  --primary-text: var(--primary);
  --secondary-text: var(--white);
  --neutral: var(--gray);
  --background: var(--white);
  --card-background: var(--white);
  --btn-color: var(--white);
  --error: var(--red);
}

$radius-extra-small: 4px;
$radius-small: 8px;
$radius-large: 100px;
$radius-round: 50%;

/******* Spacing *******/
$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 15px;

$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 15px;

/******* Height *******/
$height-auto: auto;
$height-small: 25px;
$height-medium: 50px;
$height-large: 100px;
$height-full: 100%;

/******* Width *******/
$width-auto: auto;
$width-small: 75px;
$width-full: 100%;
$step-width: 388px;
