.btn--primary {
  @include button;
  border-color: rgba(54, 5, 104, 1);
  background-color: rgba(54, 5, 104, 1);
  background-color: var(--primary, rgba(54, 5, 104, 1));
  color: rgba(255, 255, 255, 1);
  color: var(--secondary-text, rgba(255, 255, 255, 1));
}

.btn--secondary {
  @include button;
  border-color: var(--secondary, rgba(154, 103, 234, 1));
  background-color: rgba(154, 103, 234, 1);
  background-color: var(--secondary, rgba(154, 103, 234, 1));
  color: rgba(255, 255, 255, 1);
  color: var(--primary-text, rgba(255, 255, 255, 1));
}

.btn--back {
  @include flex-absolute-center;
  width: 45px;
  height: 45px;
  border-radius: $radius-round;
  font-size: $font-medium;
  color: rgba(255, 255, 255, 1);
  color: var(--primary-text, rgba(255, 255, 255, 1));
  background-color: rgba(54, 5, 104, 1);
  background-color: var(--primary, rgba(54, 5, 104, 1));
  &::after {
    content: '➜';
    transform: rotate(180deg);
    color: currentColor;
  }
}

.toggle-container {
  @include flex-row;
  @include flex-vertical-center;
  width: $width-full;
  height: $height-medium;
  justify-content: end;
  padding-right: 50px;
  color: rgba(54, 5, 104, 1);
  color: var(--secondary-color, rgba(54, 5, 104, 1));
}

.toggle {
  @include flex-absolute-center;
  &__text {
    color: rgba(54, 5, 104, 1);
    color: var(--primary-text, rgba(54, 5, 104, 1));
  }
  &__input {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  &__label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 26px;
    display: block;
    position: relative;
    border-radius: $radius-large;
    background-color: rgba(54, 5, 104, 1);
    background-color: var(--primary, rgba(54, 5, 104, 1));
  }

  &__label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: $radius-round;
    transition: 0.3s;
  }

  &__input:checked + &__label {
    background-color: rgba(154, 103, 234, 1);
  }

  &__input:checked + &__label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }
}
