@import 'reset';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'controls';
@import 'modules';

html,
body,
main {
  width: 100%;
  height: 100vh;
}

main {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-row-gap: 10px;
  line-height: 1;
  font-size: $font-base;
  background-color: var(--background);
}

.primary-theme {
  --primary: var(--dark-purple);
  --secondary: var(--white);
}

.dark-theme {
  --primary: var(--white);
  --secondary: var(--dark-purple);
}
