html, body, div#root, div.app, main {
    background: transparent !important;
}

body {
    width: 325px !important;
    height: 100vh !important;
    background: transparent !important;
}

header.main-header {
    display: none !important;
    visibility: hidden !important;
}

div.app {
    height: 100% !important;
}